<!-- 목업작업 -->
<!-- 코딩 완료되면 삭제할 페이지 -->
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mypage Mock Up</title>
    <link rel="stylesheet" href="./mypage.style.css">
    <link rel="stylesheet" href="../../../styles/global.style.css">
    <script src="https://kit.fontawesome.com/116a85af51.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <header class="header">
            <h1 class="header__title">
                마이페이지
            </h1>
        </header>
        <main class="contents">
            <section class="user-info">
                <figure class="user-info__img">
                    <div class="user-info__img__no-image"></div>
                </figure>
                <div class="user-info__text">
                    <h2 class="user-name">
                        노투두
                    </h2>
                    <p class="user-date">
                        가입일: <span class="created-date">2022.06.12</span>
                    </p>
                </div>
                <div class="user-info__more">
                    <button class="more-btn">
                        <i class="fa-solid fa-angle-right"></i>
                    </button>
                </div>
            </section>
            <section class="progress">
                <h2 class="hidden-heading">
                    챌린지 달성률
                </h2>
                <div class="progress__bar">
                    <progress value="0.6"></progress>
                </div>
                <div class="progress__text">
                    <p class="progress__text__archievement">
                        달성률 <span class="archievement-rate">60</span>% <em>12 챌린지 완료</em>
                    </p>
                    <button class="progress__text__btn">
                        자세히 보기
                        <i class="fa-solid fa-angle-right"></i>
                    </button>
                </div>
            </section>
            <section class="challenge-list">
                <h2 class="challenge-list__title">
                    챌린지 신청 현황
                </h2>
                <div class="challenge-list__cards">
                    <article class="challenge-list__cards__item">
                        <figure class="challenge-img">

                        </figure>
                        <div class="challenge-tit">
                            <h3 class="challenge-tit__name">
                                자전거로 출근
                            </h3>
                            <p class="challenge-tit__master">
                                마스터: <span class="master-name">김땡땡</span>
                            </p>
                        </div>
                        <div class="challenge-status">
                            <div class="challenge-status__date">
                                <i class="fa-regular fa-calendar"></i>
                                <span class="start-date">
                                    6.01
                                </span>
                                &nbsp;~&nbsp;
                                <span class="end-date">
                                    6.15
                                </span>
                            </div>
                            <div class="challenge-status__label">
                                신청 중
                            </div>
                        </div>
                    </article>
                </div>
            </section>
        </main>
        <nav class="nav">
            <ul class="nav__ul">
                <!-- 폰트어썸 문제 해결해야함
                토요일에 가서 이야기해보자 -->
                <li class="nav__ul__li">
                    <a href="#" data-pathname="todolist">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </a>
                </li>
                <li class="nav__ul__li">
                    <a href="#" data-pathname="challenge">
                        <i class="fa-solid fa-flag"></i>
                    </a>
                </li>
                <li class="nav__ul__li">
                    <button>
                        <i class="fa-solid fa-circle-plus"></i>
                    </button>
                </li>
                <li class="nav__ul__li">
                    <a href="#" data-pathname="community">
                        <i class="fa-solid fa-list-check"></i>
                    </a>
                </li>
                <li class="nav__ul__li">
                    <a href="#" data-pathname="mypage">
                        <i class="fa-solid fa-circle-user"></i>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</body>
</html>